.grid-content-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    gap: 15px;
    margin-bottom: 30px;
}

.grid-content-layout .grid-content {
    background-color: white;
    box-shadow: 0px 2px 23px -15px rgb(0 0 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.grid-content-layout .grid-content.div-p2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid-content-layout .grid-content p,
.grid-content-layout .grid-content ul {
    width: auto;
    height: auto;
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .grid-content-layout {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }

    .grid-content-layout .grid-content.div-p1 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-content-layout .grid-content.div-p2 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid-content-layout .grid-content.div-p3 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

@media (max-width: 895px) {
    .grid-content-layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 15px;
    }

    .grid-content-layout .grid-content.div-p1 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-content-layout .grid-content.div-p2 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-content-layout .grid-content.div-p3 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

@media (max-width: 415px), (max-height: 415px) {

}