.index * {
    font-family: Roboto Light, Lato, proxima-nova, Helvetica Neue, Arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.index h1 {
    font-size: 48px;
}

.wy-nav-content {

    min-width: 270px;
    background-color: #f6f6f6;
}

@media (max-width: 415px), (max-height: 415px) {

    .index * {
        font-size: 17px;
    }

    .index h1 {
        font-size: 32px;
    }
}

@media (max-width: 320px) {
    .index * {
        font-size: 15px;
    }

    .index h1 {
        font-size: 24px;
    }
}